
.rounded-circle-container {
    width: 300px; /* Tamaño fijo del contenedor */
    height: 300px; /* Tamaño fijo del contenedor */
    overflow: hidden;
    border-radius: 8px; /* O cualquier otro radio de borde que desees */
    margin: 0 auto; /* Centra el cuadro */
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .rounded-circle-container img {
    max-width: 100%; /* Ajusta la imagen al 100% del ancho del contenedor */
    max-height: 100%; /* Ajusta la imagen al 100% de la altura del contenedor */
    border-radius: 50%; /* Crea la forma de círculo */
    object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen */
  }