{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dress Dash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'assets/img/logoDS.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logoDS.png' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">

</head>

<body>
    <!-- Start Top Nav -->
    {% include 'navbar.html' %}

    {% block content %}
    <br><br/>
    <br><br/>

    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Carrito de compras</h1>
                <p>Productos agregados al carrito</p>
            </div>
        </div>
    
        <div class="row">
            {% if cart_products %}
                {% for product in cart_products %}
                    <div class="col-12 col-md-4 p-5 mt-3">
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="card mb-4 product-wap rounded-0" style="width: 300px; height: 400px;">
                                <div class="card rounded-0">
                                    <img class="card-img-top" style="width: 100%; height: 60%;" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    <div class="card-body">
                                        <a href="{% url 'product' product.id %}" class="h5 text-decoration-none">{{ product.name }}</a>
                                        <ul class="list-unstyled">
                                            <li>{{ product.size }}</li>
                                            <li>
                                                {% for color in product.colors.all %}
                                                    <span class="product-color-dot color-dot-{{ color.name|lower }} rounded-circle ml-1"></span>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                        <p class="text-center mb-0">{{ product.price }}</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <div class="form-group">
                                            <label for="quantity">Cantidad:</label>
                                            <input type="number" name="quantity" id="qty-cart" min="1" max="5" value="{{ product.quantity }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div>
                <div class="row">
                    {% endif %}
                {% endfor %}
            {% else %}
                Nada en el carrito de compras
                <br/><br/><br/><br/><br/><br/><br/>
            {% endif %}
        </div>
    </section>

    

    {% endblock %}

    <!-- Start Footer -->
    {% include "footer.html" %}
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>
