

{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dress Dash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{%static 'assets/img/logoDS.png'%} ">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logoDS.png' %}  ">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}  ">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %} ">


    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.min.css'%} ">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Start Top Nav -->
    {%include 'navbar.html'%}
    
    {% block content %} 
    {% if messages %}
        {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>        

        {% endfor %}


    {% endif %}


    {% endblock %}
   


    <!-- Start Footer -->
    {% include "footer.html" %}
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{%static 'assets/js/jquery-1.11.0.min.js' %} "></script>
    <script src="{%static 'assets/js/jquery-migrate-1.2.1.min.js' %} "></script>
    <script src="{%static 'assets/js/bootstrap.bundle.min.js'%} "></script>
    <script src="{%static 'assets/js/templatemo.js'%} "></script>
    <script src="{%static 'assets/js/custom.js'%} "></script>
    <!-- End Script -->
</body>

</html>