<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Dress Dash</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        Colecciones
                    </li>
                    <li>
                        Hombre
                    </li>
                    <li>
                        Mujer
                    </li>
                    <li>
                        Sobre nosotros
                    </li>
                    <li>
                        Contactanos
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Marcas</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Adidas</a></li>
                    <li><a class="text-decoration-none" href="#">Levi's</a></li>
                    <li><a class="text-decoration-none" href="#">Nike</a></li>
                    <li><a class="text-decoration-none" href="#">H&M</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Atención al cliente</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Preguntas frecuentes</a></li>
                    <li><a class="text-decoration-none" href="#">Terminos y condiciones</a></li>
                    <li><a class="text-decoration-none" href="#">Politicas y proteccion de datos</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=61553867697026&mibextid=ZbWKwL"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/dress_dash11/ "><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 Company Name 
                        | Designed by <a rel="sponsored" href="https://www.facebook.com/profile.php?id=61553867697026&mibextid=ZbWKwL" target="_blank">Dress Dash</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>